[Desktop Entry]
Name=X2 Main PCB Test Program (Advanced)
Version=1.0
Comment=Launches X2 Tester Application
Exec=/home/pi/Documents/GitHub/X2Tester/X2_Main_PCB_Test_Advanced.sh
Terminal=true
Type=Application
Category=Test
Icon=/home/pi/Documents/GitHub/X2Tester/x2prod.jpg
Name[en_GB]=Advanced X2 Main PCB Test Program
